.card {
  width: 160px;
  height: 308px;
  background: #ffffff;
  border-radius: 10px;
}

.button {
  height: 39px;
  background-color: #7AC8AE;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .button {
    height: 40px;
    width: 80%;
    background-color: #7AC8AE;
  }
}