.main_container {
  padding-top: 50px;
  padding-right: 50px;
  height: auto;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  aside {
    margin-top: 50px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.bg_img {
  height: 462px;
  width: 388px;
  background-color: #d9d9d9;
}

.countdown_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    margin-top: 42px;

    .countdown_date_container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .countdown_date_item {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 99px;
        height: 56px;
        margin-bottom: 8px;
        
        background-color: #BFE1C9;
        padding: 4px;
        p {
          font-size: 40px;
          color: #ffffff;
        }
      }
    }
  }
}

.footer_text_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 768px) {
  .main_container {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }

  .bg_img {
    height: 462px;
    width: 75%;
    background-color: #d9d9d9;
  }

  .countdown_container {
    width: 95%;

    article {
      width: 75%
    }
  }

  .footer_section {
    margin-top: 60px;
    padding: 16px !important;
  }
}