.main {
  min-height: 100vh;
  min-width: 100vh;
  section {
    padding: 10px 0;
  }
}
.header {
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 60px;

  img {
    width: 136px;
    height: 50px;
  }

  nav {
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: -80vw;
  height: 100vh;
  width: 80vw;
  background-color: white;
  z-index: 20;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.drawer.open {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: slide-in-right;
}

.drawer_button {
  display: none;
}

.drawer_none {
  display: none;
}

.drawer_visible {
  display: inline;
}


@media (max-width: 768px) {
  .header {
    width: 100%;
    justify-content: space-between;
    nav {
      display: none;
    }
  }

  .drawer_button {
    display: inline;
  }
}

@keyframes slide-in-right {
  0% {
    right: -80vw;
  }
  100% {
    right: 0;
  }
}